/*Headerrr*/

*{
  box-sizing: border-box;
}
.text-white{
  color: white;
}
.text-center{
  text-align: center;
}
.pd-5-10{
  padding: 2% 10%;
}
.pd-bottom{
  padding-bottom: 60px;
}
.font-color{
  color:#68B4FF;
}
.font-darkblue{
  color:#8da4b9;
}
.bold{
  font-weight: bold;
}
.navbar {
    background-color: transparent;
    background: transparent;
    border:none;
  }
.navbar-inverse .navbar-nav > li > a{
  color:white;
}
.navbar-inverse .navbar-nav > li > a:hover{
  background-color:#68B4FF; /*celeste*/
}
/*Banner*/
.banner {
   background: url("../image/large.jpg");
   background-size: 100% 100%;
   height:700px;
   color:white;
}
.opacidad {
    background-color: rgba(128,128,128,.4);
    height: 100%;
    position:relative;
}

.texto {
  text-align:center;
  font-size:50px;
  margin-top:15%;
}
.pruebas {
    background-color: rgba(82, 141, 210,.7);
    width: 100%;
    padding: 4% 0%;
    position: absolute;
    bottom: 0;
    text-align:center;
}
.pruebas a {
    color: white;
    font-size: 2rem;
    display: inline-block;
    margin-top: 10px;
    padding: 6px 10px;
    border: 2px solid white;
    border-radius: 5px;
    text-decoration:none;
}
.pruebas a:hover {
  background-color: #395FA7;
}
.gratuito {
    font-size:25px;
}
.servicios {
  text-align:center;
  color:#58A5FF;
}
.size {
  font-size:50px;
}

h2 {
  padding:5%;
}

/*servicios*/
.ico{
padding: 30px;
padding-bottom: 30px;
font-size: 40px;
color:#b3d4ff;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 border-radius: 50%;
/* box-shadow */
 -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
 -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
 box-shadow: rgba(0,0,0,0.8) 0 0 10px;

}
.ico:hover{
  color:blue;
}
.iconos{
  padding:30px;
  margin-top:30px;
}
.text-video, .text-reloj, .text-papel{
  padding-top: 50px;
}

    
