/*Headerrr*/

*{
  box-sizing: border-box;
}
.text-white{
  color: white;
}
.text-center{
  text-align: center;
}
.pd-5-10{
  padding: 2% 10%;
}
.navbar {
    background-color: transparent;
    background: transparent;
    border:none;
  }
.navbar-inverse .navbar-nav > li > a{
  color:white;
}
.navbar-inverse .navbar-nav > li > a:hover{
  background-color:blue;
}
/*Banner*/
.banner {
  height: 600px;
  background: url(../image/large.jpg) top center;
  background-size: 100%;
}
.title{
  padding: 19% 12%;
}
